- if @location.errors.present?
  %ul
    - @location.errors.full_messages.each do |error|
      %li= error
= form_for @location do |f|
  %dl
    %dt= f.label :address
    %dd= f.text_field :address, autofocus: 'autofocus'

  = f.submit "Add Address"

#map(style='width: 1020px; height: 500px;')

%ul
  - @locations.each do |location|
    %li= location.address

:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {
  zoom: 3,
  center: new google.maps.LatLng(39.5, -98.35)
  }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @locations_hash.to_json});
    handler.fitMapToBounds();
  });
